section{
    background-color: #ffffff;
    margin-top: 50px;
    margin-left: 200px;
    width: 1200px;
}

h2{
    position: absolute;
    z-index: 2;
    font-size: 18px;
    font-weight: bold;
    color: white;
    bottom: 0;
    left: 5px;
}

.hot_topic{
    display: flex;
    align-items: stretch;
}

.topic_pic{
    display: grid;
    gap: 20px;  
    grid-template-areas: 
    "a b b c c"
    "a b b d d"
    "a e e d d";
    justify-content: space-between;
    align-content: center;
}

.topic{
    position: relative;
}

.topic img{
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.travel_topic_1{
    grid-area: a;
    width: 230px;
    height: 330px;
}

.travel_topic_2{
    grid-area: b;
    width: 230px;
    height: 210px;
}

.travel_topic_3{
    grid-area: c;
    width: 230px;
    height: 105px;
}

.travel_topic_4{
    grid-area: d;
    width: 230px;
    height: 210px;
}

.travel_topic_5{
    grid-area: e;
    width: 230px;
    height: 105px;
}

.topic_news{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.travel_news{
    box-sizing: content-box;
    padding: 10px;
    display: flex;
    gap: 5px;
    justify-content: space-between;
    font-size: 14px;
    width: 355px;
    height: 70px;
}

.travel_news img{
    object-fit: cover;
    width: 110px;
    height: 70px;
}

.title{
    position: relative;
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
}

.title span{
    position: relative;
    z-index: 2;
}

.title::before{
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    z-index: 1;

    border-top: 36px solid #fab617;
    border-right: 36px solid transparent;
}

.title_japan{
    position: relative;
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
}

.title_japan span{
    position: relative;
    z-index: 2;
}

.title_japan::before{
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    z-index: 1;
    border-top: 18px solid #11d073;
    border-right: 18px solid transparent;
}

.title_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page_choice{
    display: flex;
}